<% content_for :title do %>About<% end %>

<div class="col-md-12">
	<div class="col-md-8">
	<h3>About AdUp</h3>
	<p>AdUp makes it simple for advertisers and publishers to buy and sell display ads directly.
	</p>
	<p>Publishers simply signup and embed an ad unit in their site, through which visitors, users or readers are able to purchase upcoming ad slots.</p>
	<p>Advertisers can now purchase ads on their favourite sites easily and directly from the publisher.</p>
	</div>
	<div class="col-md-4">
	<br/>
	<iframe src="<%= root_url %>websites/1/display" width="300" height="300" frameborder="0"></iframe>
	<br/>
	        	<iframe src="http://adupapp.herokuapp.com/websites/1/display" width="300" height="300" frameborder="0"></iframe>

	</div>
</div>
